@if (paginatedResult(); as result) {
    <div class="flex flex-col w-full">
        <div class="flex justify-between items-center">
            <div class="tabs tabs-box tabs-lg text-primary w-fit">
                @for (tab of tabs; track $index) {
                    <button (click)="setPredicate(tab.value)"
                            [class.tab-active]="tab.value === predicate"
                            class="tab" role="tab">
                        {{ tab.label }}
                    </button>
                }
            </div>
            @if (result.metadata; as metadata) {
                <app-paginator
                        (pageChange)="onPageChange($event)"
                        [hidden]="metadata.totalCount === 0"
                        [pageNumber]="metadata.currentPage"
                        [pageSize]="metadata.pageSize"
                        [totalPages]="metadata.totalPages"
                        [totalCount]="metadata.totalCount"
                />
            }
        </div>
        @if (result.items; as members) {
            @if (members.length > 0) {
                <div class="grid grid-cols-5 gap-6 mt-3">
                    @for (member of members; track member.id) {
                        <app-member-card [member]="member" />
                    }
                </div>
            } @else {
                <div class="mt-3 text-lg">There are no results for this filter</div>
            }
        }
    </div>

}