@if (!memberService.editMode()) {
    @let pictures = photos();
    @if (pictures?.length) {
        <div class="grid grid-cols-4 auto-rows-min gap-3 p-5 h-[65vh] overflow-auto">
            @for (photo of pictures; track photo.id) {
                <div class="relative">
                    <img [src]="photo.url" alt="member's photo" class="w-full rounded-lg">
                    @let isMainPhoto = memberService.member()?.imageUrl === photo.url;
                    @if (accountService.currentUser()?.id === memberService.member()?.id) {
                        <app-star-button (clickEvent)="setMainPhoto(photo)"
                                         [disabled]="isMainPhoto" [selected]="isMainPhoto" class="absolute top-1 right-1" />
                        <app-delete-button (clickEvent)="deletePhoto(photo)"
                                           [disabled]="isMainPhoto" class="absolute top-1 left-1" />
                    }
                </div>
            }
        </div>
    } @else {
        <p class="text-center text-gray-500">No photos available</p>
    }
} @else {
    <app-image-upload (upload)="uploadPhoto($event)" [loading]="loading()"/>
}
